[Desktop Entry]
Name=dc-qt
Comment=QT frontend for DCTC Direct Connect Client
Comment[pl]=Nakładka QT dla Klienta Direct Connecta DCTC
Exec=dc_qt
Icon=dc_qt.xpm
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
